body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.Grievance{
  margin-left: 100px;
  margin-bottom:50px;

}
h1{
  text-align: center;
  background-color: #00ffff;
}
.hello{
  background-color: blue;
  color: antiquewhite;
  margin-left: 250px;

}
.hell{
  margin-left: 60px;
}
.sachin{
  border: 1px solid black;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 360px;
  margin-left: 360px;
  background-color: lightblue;
}
.abcd{
  background-color: darkgrey;
  margin-left: 60px;

}
